/* Global Reset and Default Styles */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* Typographic Tweaks */
/* 3. Add accessible line-height */
/* 4. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* Specific Styles */

img {
  border-radius: 30px 30px 0 0;
}

.container {
  max-width: 600px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 30px;
}

h1,
.score,
.controls {
  padding: 2vw;
}

.score input {
  width: 100px;
  border-radius: 10px;
  border: 1px solid gray;
}

.controls {
  display: flex;
  gap: 2px;
}

.controls button {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  flex: 1 1 200px;
}

#playerOneButton {
  background-color: rgb(20, 230, 125);
}

#playerTwoButton {
  background-color: rgb(47, 73, 221);
}

#resetButton {
  background-color: rgb(201, 49, 49);
}
